<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ev.android.evodshd.plus"
    android:versionCode="20170803"
    android:versionName="20170803" >
 
    <!-- Alert!!!the brief introduction below can't be deleted,and each time release new version app should update it -->
    <!-- com.mooncloud.android.looktvb粤港世界 AppID=2004,current versionName=20150430,versionCode=20150430,logo=logo_ygsj.png -->
    <!-- com.mooncloud.android.iptv   祥云直播AppID=2003,current versionName=20150422,versionCode=20150422,logo=logo_xyzb.png -->
    <!--
         share one project ,if need to be released,remember 
    	 1,change package name in configs.java and mainfest.xml
    	 2,change app id
    	 3,change logo
    	 4,change app_name in each strings.xml
    	 5,notice versionName and versionCode 
    	 6,notice limited program
    -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEM"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    
    <application
        android:name="com.moon.android.iptv.arb.film.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_hd"
        android:label="@string/app_name"
        android:theme="@style/theme" >
        <activity
            android:name="com.moon.android.activity.IndexActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moon.android.activity.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.moon.android.activity.VodsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.moon.android.activity.HomeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.moon.android.activity.GetListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.moon.android.activity.HistoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.moon.android.activity.HotActivity"
            android:screenOrientation="landscape" />
         <activity
            android:name="com.moon.android.activity.SearchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ev.player.MyPlayerActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleInstance"
            android:theme="@null" />

        <service android:name="com.moon.android.iptv.arb.film.MsgService" />

        <receiver android:name="com.moon.android.broadcast.MsgBroadcastReceiver" />

       
    </application>

</manifest>